html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(250, 243, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #8d8ec3;
}

h1 {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
h1:after, h1:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
h1:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
h1:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
h1:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
h1:hover:before, h1:hover:after {
  width: 100%;
  height: 100%;
}

.content {
  background-color: #8d8ec3;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 12px 12px 52px 0px rgba(0, 0, 0, 0.75);
}

.textToDo {
  margin: 10px;
}

#toDo {
  margin: 10px;
}

li {
  background-color: #6b6dc9;
  text-align: center;
  border-radius: 30px;
  margin: 10px;
}

.completed {
  color: rgb(150, 144, 144);
  text-decoration: line-through;
}

.delete-button {
  border: none;
  border-radius: 15px;
  margin: 10px;
  color: #000000;
  border: rgb(80, 80, 203) solid 3px;
  transition: 0.5s ease;
}
.delete-button:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  border-radius: 15px;
  margin: 10px;
  color: #000000;
  border: rgb(80, 80, 203) solid 3px;
  transition: 0.5s ease;
}
button:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.list {
  overflow-y: auto;
}/*# sourceMappingURL=style.css.map */